@model Bloggie.Web.Models.ViewModels.HomeViewModel


<section class="about-us ww">
    <div class="about">
        <img src="/img/developer.jpg" class="pic">
        <div class="text">
            <h2>About Us</h2>
            <h5>Software Engineer </h5>
            <p>Having completed intensive training at EasyReawardz, a leading technology company,
               I've honed my skills as a software engineer specializing in ASP.NET Core.
               Equipped with the latest advancements in technology,
               I am poised to tackle complex challenges and deliver innovative solutions.
               My experience at EasyReawardz has not only sharpened my technical expertise
               but also instilled in me a deep appreciation for collaboration and problem-solving.
               With a passion for excellence and a commitment to continuous learning,
              and contribute to impactful projects in the ever-evolving world of software development.</p>
            <div class="data">
                <a href="#" class="hire">Hire Me</a>
            </div>
        </div>
    </div>
</section>