<!-- ContactConfirmation.cshtml -->
@{
    ViewData["Title"] = "Contact Confirmation";
}

<h1>Thank You!</h1>

<p>Your message has been successfully submitted. We'll get back to you as soon as possible.</p>
